@page "/databindingdemo"
@inherits DatabindingDemoBase

<h3>DatabindingDemo</h3>
<h1>One way binding</h1>
<div>
    <b>@Name : </b>
</div>

<h3>Two way binding</h3>
<textarea @bind="Description" @bind:event="oninput"></textarea>

<div>
    Count: @Description.Length
</div>

@code {

    public string Description { get; set; } = string.Empty;

}
